.macos/zsh/.zcompdump
.macos/nvim/autoload/plugged/nvim-colorizer.lua
.macos/nvim/autoload/plugged/nvim-compe
.macos/nvim/autoload/plugged/nvim-lspconfig
nvim/autoload
zsh/.zcompdump
.share/
.DS_Store
